@import 'colors';
@import 'fonts/fonts';

.toast {
  font-family: $font-family;
  color: $color-darker-blue;
  background-color: #ffffff;
  position: fixed;
  z-index: 100;
  top: 24px;
  right: 15px;
  min-width: 310px;
  max-width: 480px;
  min-height: 60px;
  word-break: break-word;
  border-radius: 12px;
  overflow: hidden;
  margin-left: 15px;

  &.error {
    border-left: 10px solid $color-red;
  }
  &.success {
    border-left: 10px solid $color-light-green;
  }
  &.warning {
    border-left: 10px solid $color-yellow;
  }

  &__body{
    display: flex;
    padding: 12px 18px 8px;
    column-gap: 14px;

    &__icon {
      flex-basis: content;
      width: 23.5px;
      height: 23.5px;
    }

    &__text {
      flex-basis: max-content;

      .toast_title {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 10px;
      }

      .toast_text {
        font-size: 18px;
        font-weight: normal;
      }
    }

    &__close {
      flex-basis: content;
      width: 21px;
      height: 21px;
      transform: rotateZ(45deg);
      cursor: pointer;
      margin-left: auto;
    }
  }

  .progress__bar {
    width: 100%;
    background-color: $color-red;
    height: 3px;
    transition: width 0.1s;
    transition-timing-function: ease-out;
    position: absolute;
    bottom: 0;

    &.error {
      background-color: $color-red;
    }
    &.success {
      background-color: $color-light-green;
    }
    &.warning {
      background-color: $color-yellow;
    }
  }
}

// .inner_wrapper {
//   position: relative;
//   padding: 16px 22px;
// }

// .toast_title {
//   font-size: 20px;
//   font-weight: 600;
//   margin-bottom: 10px;
// }

// .toast_text {
//   font-size: 18px;
//   font-weight: normal;
// }

// .progress_bar {
//   width: 100%;
//   background-color: $color-red;
//   height: 3px;
//   transition: width 0.1s;
//   transition-timing-function: ease-out;

//   &.error {
//     background-color: $color-red;
//   }
//   &.success {
//     background-color: $color-light-green;
//   }
//   &.warning {
//     background-color: $color-yellow;
//   }
// }


// .toast_wrapper {
//   font-family: $font-family;
//   color: $color-darker-blue;
//   background-color: #ffffff;
//   position: fixed;
//   z-index: 100;
//   top: 24px;
//   right: 15px;
//   min-width: 380px;
//   max-width: 420px;
//   min-height: 70px;
//   word-break: break-word;
//   border-radius: 12px;
//   overflow: hidden;

//   &.error {
//     border-left: 10px solid $color-red;
//   }
//   &.success {
//     border-left: 10px solid $color-light-green;
//   }
//   &.warning {
//     border-left: 10px solid $color-yellow;
//   }
// }

// .inner_wrapper {
//   position: relative;
//   padding: 16px 22px;
// }

// .toast_title {
//   font-size: 20px;
//   font-weight: 600;
//   margin-bottom: 10px;
// }

// .toast_text {
//   font-size: 18px;
//   font-weight: normal;
// }

// .progress_bar {
//   width: 100%;
//   background-color: $color-red;
//   height: 3px;
//   transition: width 0.1s;
//   transition-timing-function: ease-out;

//   &.error {
//     background-color: $color-red;
//   }
//   &.success {
//     background-color: $color-light-green;
//   }
//   &.warning {
//     background-color: $color-yellow;
//   }
// }